cftime==1.2.1
cmocean==2.0
geopy==2.1.0
imageio==2.9.0
ipykernel==5.3.4
ipython==7.17.0
ipywidgets==7.5.1
jupyterlab==2.2.6
matplotlib==3.3.1
moviepy==1.0.3
natsort==7.0.1
netCDF4==1.5.4
notebook==6.1.1
numpy==1.19.1
pandas==1.2.0
plotly==4.14.3
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
sklearn==0.0
termcolor==1.1.0
tqdm==4.48.2
xarray==0.15.1

